<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Binding Angular Data Without Additional Request</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body ng-app="app">
        <div class="container" ng-controller="ctrl">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">ID</label>
                        <input ng-model="id" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nazwa</label>
                        <input ng-model="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tagi</label>
                        <a class="btn btn-info" ng-repeat="tag in tags" href="/tag/[[ tag ]]">[[ tag ]]</a>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Inne właściwości</label>
                        <li class="label label-success" ng-repeat="property in properties">[[ property ]]</a>
                    </div>

                </div>
            </form>
        </div>

        <script src="/static/angular.min.js"></script>
        <script>
         var app = angular.module('app', [], function($interpolateProvider) {
             // template deafault "{ }" symbols has conflict with go :)
             $interpolateProvider.startSymbol('[[');
             $interpolateProvider.endSymbol(']]');
         });

         app.controller('ctrl', ["$scope", function($scope){
             $scope.all = {{ . }}
             $scope.id = {{ .Id }}
             $scope.name = {{ .Name }}
             $scope.tags = {{ .Tags }}
             $scope.points = {{ .KeyPoints }}
             $scope.properties = {{ .Properties }}
         }]);
        </script>
    </body>
</html>
