<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>WebSocket</title>
        <link href="bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body ng-app="app">


        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Websockets example with AngularJS</a>
                </div>
            </div>
        </div>


        <div class="container" ng-controller="eventCtrl">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Longitude</label>
                    <div class="col-sm-10">
                        <input ng-model="lon" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Latitude</label>
                    <div class="col-sm-10">
                        <input ng-model="lat" type="text" class="form-control">
                    </div>
                </div>
            </form>
        </div>

        <script src="jquery-2.1.3.min.js"></script>
        <script src="angular.min.js"></script>
        <script>
         // definicja naszej aplikacji
         var app = angular.module('app', [], function() {});


         // wewnątrz kontrolera jestesmy w stanie operować
         // na scope'ie
         app.controller('eventCtrl', ["$scope", function($scope){

             var loc = window.location;
             var uri = 'ws://' + loc.host + loc.pathname + 'ws';

             ws = new WebSocket(uri);
             ws.onopen = function() {
                 console.log('Connected')
             }

             ws.onmessage = function(evt) {
                 data = JSON.parse(evt.data)
                 $scope.lon = data.lon;
                 $scope.lat = data.lat;
                 // refresh your scope luke
                 $scope.$applyAsync();

             }

             setInterval(function() {
                 ws.send('{"alt": 121, "lat":10.998, "lon":12.000}');
             }, 500);

         }]);
        </script>

    </body>
</html>
