<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Binding REST API to Angular resource</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body ng-app="app">
        <div class="container" ng-controller="ctrl">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">ID:</label>
                        <input ng-model="user.id" type="text" class="form-control" ng-disabled="true">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Imię i nazwisko:</label>
                        <input ng-model="user.name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mieszkam w:</label>
                        <input ng-model="user.city" type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group">
                        <select ng-change="loadUser()" ng-model="selected" ng-options="user.id as user.name for user in users""></select>
                    </div>
                    <div class="form-group">
                        <button ng-click="update()" class="btn btn-primary">Zapisz zmiany</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="/static/jquery-2.1.3.min.js"></script>
        <script src="/static/angular.min.js"></script>
        <script src="/static/angular-resource.min.js"></script>
        <script>
         // definicja naszej aplikacji
         var app = angular.module('app', ["ngResource"], function($interpolateProvider) {
             // oba systemy templatek mają te same tagi - mały konflikt :)
             // skupiamy sie na go wiec dostosujmy angulara
             $interpolateProvider.startSymbol('[[');
             $interpolateProvider.endSymbol(']]');
         });

         // wewnątrz kontrolera jestesmy w stanie operować
         // na scope'ie
         app.controller('ctrl', ["$scope", "$resource", "$timeout", function($scope, $resource, $timeout){

             // lista wszystich uzytkownikow na widoku
             $scope.users = [];

             // zdefiniujmy zasób usera
             $scope.userResource = $resource(
                 '/v1/users/:id',
                 {id: '@id'},
                 {
                     "update": {
                         method: "PUT",
                         isArray: false,
                         params: {
                             id: "@id"
                         }
                     }
                 }
             );

             // ładujemy usera z zasobu
             $scope.loadUser = function() {
                 $scope.userResource.get({id: $scope.selected})
                       .$promise.then(
                           function(user) {
                               $scope.user = user;
                           }
                       );
             }


             // zapis zmian na użytkowniku
             $scope.update = function() {
                 $scope.userResource.update($scope.user)
             }

             // ładujemy wszystkich użytkowników
             $scope.userResource.query()
                       .$promise.then(
                           function(users) {
                               $scope.users = users;

                               // odświerzmy widok
                               $timeout(function() {
                                   $scope.$digest();
                               })
                           }
                       );

         }]);
        </script>
    </body>
</html>
